.grid-container {
    display: grid;
    grid-template-columns: repeat(30, 15px);
    grid-template-rows: repeat(30, 15px);
    gap: 2px;
}

.square {
    width: 15px;
    height: 15px;
    background-color: #e6e7ea;
    border: 1px solid #1f1f21;
    font-size: 12px;
    padding: 1px;
}

.alive-square {
    width: 15px;
    height: 15px;
    background-color: #439a46;
    border: 1px solid #1f1f21;
    font-size: 12px;
    padding: 1px;
}